/************/
/*** MAIN ***/
/************/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 30px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 18px !important;
  font-weight: 400 !important;
}

:root {
  --main-dark-blue: rgba(19, 82, 139, 1);
  --main-light-blue: rgba(24, 144, 255, 1);
}

.nav-link {
  color: black !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
}

.navbar-brand:hover,
.nav-link:hover {
  text-decoration: underline !important;
  -webkit-text-decoration-color: #219aea !important;
          text-decoration-color: #219aea !important;
  text-decoration-thickness: 0.125em !important;
  text-underline-offset: 1.5px !important;
}

.navbar-brand:active,
.nav-link:active {
  text-decoration: underline !important;
  -webkit-text-decoration-color: #219aea !important;
          text-decoration-color: #219aea !important;
  text-decoration-thickness: 0.125em !important;
  text-underline-offset: 1.5px !important;
  color: #219aea !important;
}

/**************/
/*** CUSTOM ***/
/**************/
.banner-image {
  background: rgba(0, 133, 255, 0.19);
  mix-blend-mode: normal;
}

.blue-font {
  color: var(--main-dark-blue) !important;
  font-weight: bold;
  font-size: 70px !important;
}

#forgot-psswd {
  text-transform: lowercase !important;
  color: black !important;
  text-decoration: underline !important;
  -webkit-text-decoration-color: #219aea !important;
          text-decoration-color: #219aea !important;
}

.btn-host {
  border: 1px solid #1890ff !important;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25) !important;
  border-radius: 9px !important;
  font-weight: 500 !important;
  color: var(--main-dark-blue) !important;
}

.btn-host:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.profile-container {
  margin: 35px !important;
  padding: 15px !important;
  border-radius: 10px !important;
  background-color: #f8f8f89c !important;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
}

.profile-container__information {
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 15px !important;
  border-radius: 10px !important;
  background-color: white !important;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
}

.profile-container__searchOptions {
  border-radius: 10px !important;
  background-color: white !important;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
}

.recentViewed {
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding: 15px !important;
  border-radius: 10px !important;
  background-color: #f8f8f89c !important;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
}

.recentViewed__image {
  border-radius: 10px !important;
}

.font-effect__blue {
  text-decoration: underline !important;
  -webkit-text-decoration-color: #219aea !important;
          text-decoration-color: #219aea !important;
  text-decoration-thickness: 0.125em !important;
  text-underline-offset: 1.5px !important;
}

/******************** SIDEBAR ************************/
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget {
  padding: 0.75rem 1.25rem;
  width: 278px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.widget h2 {
  background-color: whitesmoke;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: -0.75rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  cursor: default;
}

.widget form label {
  width: 100%;
  text-align: center;
}

.widget:hover h2 {
  background-color: #ebebeb;
}

#user_age_handler_min, #user_age_handler_max {
  width: 3em;
  margin-left: -1.5em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
/*# sourceMappingURL=style.css.map */